index.css
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Open sans', sans serif;
}

nav {
	padding: 0;
	/* 
	padding-top: 0.8rem
	padding-right: 0.8rem
	padding-bottom: 0.8rem
	padding-left: 0.8rem*/
	margin-right: 3rem;
	margin-bottom: .5rem;
	list-style-type: none;
	position: sticky;
	text-align: right;
	background-color: white;
	position: fixed;
	top: 0;
	overflow: hidden;
	width: 100%;


}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}

#logo{
	vertical-align: center;
	float: left;
	margin-top: 1.5rem;
}

.right-nav{
	margin-right: 3rem;
}
.tuitt-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-width:0;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#bg-image{
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-size: 100%;
	background-position: 10%;
	width:100vw;
	height: 50vh;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6.5rem;

}

.container{
	padding-right: 10rem;
}

#bg-image > .front-bg{
	background-color: rgba(0,0,0,.5);
	height: 50vh;
}
.container .title{
	font-family: 'Zilla Slab', sans serif;
	text-align: right;
	font-size: 40px;
	color: white;
}

.subtitle{
	color: white;
	text-align: right;
	font-size: 20px;

}

.apply-button{
	background-color: #c2195b;
	color: white;
	font-weight: bold;
	border-width:0;
	border-radius: 25px;
	font-size: 1rem;
	float:right;
	padding: 16px 32px 16px 32px;
}

.intro{
	margin:3rem 0 5rem 0;
}

 .title-2 {
	font-family: 'Zilla Slab', sans serif;
	text-align: center;
	font-size: 40px;
}

.intro-description{
	margin:0 15rem 0 15rem;
	text-align: justify;
}
.pre-footer{
	background-color: #f7fbfb;
	height: 45vh;
	padding: 2rem 14rem 0 14rem;
}

.prefooter-description{
	text-align: center;
}

.book-button{
	background-color: #336589;
	color: white;
	font-weight: bold;
	border-width:0;
	border-radius: 25px;
	font-size: 1rem;
	padding: 16px 32px 16px 32px;
	margin: auto;
	display: block;
}
footer{
	text-align: center;
	/*background-color: white;*/
	/*position: fixed;*/
	bottom: 0;
	/*overflow: hidden;*/
	/*width: 100%;*/
}

.spannnn{
	display: inline-block;
	margin: 0px 15px 0px 15px;

}