#div-1{
	background-color: green;
	display: inline;
}
#span-1{

	background-color: purple;
	/*display: inline;*/
	/*width and height of our span will notchange because we can'tuse witdth and height height property in dispaly-inline*/
	display: none;
	width: 200px;
	height: 200px;

}
#span-2{
	background-color: red;
	display:block;
}

#div-2{
	background-color: hotpink;
	display: none;
}

#img{
	display: inline-block;
	width: 250px;
	height: 250px;
	/*by default img is an inline block element by default*/
}

#p-1{
	background-color: #87cefa;

}
#p-2{
	background-color: rgb(255,105,180);
}
#p-3{
	background-color: yellow;
	width: 40%;
}

.sample{
	display: inline-block;
	width:30%;
	border: 1px solid black;
	text-align: center;
}

/*float property*/
.image-float{
	width: 250px;
	height: 250px;
	float: right;
}

/*CSSUnit Values*/

.box{
	background-color: red;
	border: 1px solid black;
	margin: 5px;
}

.fifty-percent{
	width: 100px;
}

.one-hundred-pixels{
	width: 100px;
}

.parent{
	width: 135px;
	border:2px solid navy;
	font-size: 30px;
}

.fifty-vw{
	width: 50vw;
}

.twenty-five-vh{
	height: 25vh;
}

.one-rem{
	font-size: 1em;
}

.two-rem{
	font-size: 2rem;
}

.two-em{
	font-size: 2em;
}

.two-hundred-percent{
	font-size: 200%;
}

.background{
	min-height: 100vh;
	/*background-color: */
	background-image: url(https://c4.wallpaperflare.com/wallpaper/43/1003/707/anime-your-name-kimi-no-na-wa-mitsuha-miyamizu-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
	background-attachment: fixed;
}	
.bg-title{
	color: white;
	text-align: center;
	font-size: 5em;
	margin: 0;
	line-height: 35em;
}

.container-bg{
	background-color: rgba(0,0,0,.5);
	min-height: 100vh;
}

.paren-element{
	background-color: skyblue;
	padding: 10px;
	position: relative;
	height: 100px;

}
	.childone{
		background-color: gray;
		padding: 10px;
	}

	.child-two{
		/*static, relative, absolute, */
		background-color: yellow;
		padding: 10px;
		position: fixed;
		left: 10px;
		bottom: 10px;

	}

	.child-three{
		background-color: gray;
		padding: 10px;
	}
}

html{
	height: 800vh;
}